.products {
    width: 350px;
    height: 200px;
    margin: 45px;
    border-radius: 4%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    color: coral;
    margin-left: 45px;
    margin-top: 30px;
}
.delivery {
    margin-left: 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.addProduct {
    float: left;
    margin-left: 47px;
    margin-bottom: 50px;
}

#addButton {
    background-color: chocolate;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 70px;
    font-weight: bold;
}