.products {
  max-width: 350px;
  max-height: 200em;
  margin: 45px;
  border-radius: 4%;
}
.container {
  display: inline-block;
  flex-wrap: wrap;
}

.buttons {
  display: inline-block;
  flex-wrap: wrap;
  border-radius: 4%;
}

.images{
  border-radius: 2%;
  height: 250px;
}

.products-header-image {
  background-size: cover;
}

.outOfStock {
  font-weight: bolder;
  color: red;
}

.inStock {
  font-weight: bold;
  background-color: white;
}
