.addForm {
    display: flex;
    flex-direction: column;
  }
  
  .addForm > * {
    width: 35%;
    margin: 0px auto;
  }

  h3 {
    justify-content: center;
    display: flex;
    color: darkcyan;
  }

  #add {
    background-color: chocolate;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
  }